[Unit]
Description=Test app
After=syslog.target network.target

[Service]
SuccessExitStatus=143

User=root
Group=root

Type=simple

EnvironmentFile="/etc/systemd/system/clicker.conf"
WorkingDirectory=/app/bin
ExecStart=/bin/java -Dspring.profiles.active=production -jar clicker.jar

Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target