[Unit]
Description=Test app
After=syslog.target network.target

[Service]
SuccessExitStatus=143

User=root
Group=root

Type=simple

Environment="RDS_ENDPOINT=RDS_ENDPOINT_PLACEHOLDER"
Environment="RDS_PORT=RDS_PORT_PLACEHOLDER"
Environment="RDS_USER=RDS_USER_PLACEHOLDER"
Environment="RDS_PASSWORD=RDS_PASSWORD_PLACEHOLDER"
Environment="AWS_DEFAULT_REGION=AWS_DEFAULT_REGION_PLACEHOLDER"
Environment="JAVA_HOME=/usr/bin/java"

WorkingDirectory=/app/bin
ExecStart=/bin/java -Dspring.profiles.active=production -jar clicker.jar

Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target